body {
    background-color: white;
    text-align: center;
    color: black;
}

h1 {
    color: white;
}

/*this is my div tag*/
.container {
    position: relative;
}

/*this is why im able to add the text in the center of the img*/
.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td {
    text-align: left;
}

/* adding border around p tag*/
p {
    text-align: center;
    font-size: 35px;
    position: relative;
    border-style: dashed;
    border-width: 5px;
    border-color: crimson;
}